{% extends "documents/browse.html" %}
{% load i18n %}
{% load verbose_name %}

{% block title %}{{ block.super }} - {% trans "Finished documents" %}{% endblock %}

{% block content %}

<h2>{% trans "Finished documents" %}</h2>
{% if object_list %}
<table class="list">
  <thead>
    <tr>
      <th>{{ object_list|first|verbose_name:"title" }}</th>
      <th>{{ object_list|first|verbose_name:"author" }}</th>
      <th>{{ object_list|first|verbose_name:"sourcePublisher" }}</th>
    </tr>
  </thead>
  
  <tbody>
    {% for document in object_list %}
    <tr class="{% cycle 'even' 'odd' %}">
      <td><a href="{% url browse_detail document.id %}">{{ document.title }}</a></td>
      <td>{{ document.author }}</td>
      <td>{{ document.sourcePublisher }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="nodata">{% trans "No data to display" %}</p>
{% endif %}
{% endblock %}
