{% extends "documents/browse.html" %}

{% block title %}{{ block.super }} - Listing documents{% endblock %}

{% block content %}

{% if object_list %}
<h2>Finished documents</h2>
<table class="list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Publisher</th>
    </tr>
  </thead>
  
  <tbody>
    {% for document in object_list %}
    <tr class="{% cycle 'even' 'odd' %}">
      <td><a href="{% url browse_detail document.id %}">{{ document.title }}</a></td>
      <td>{{ document.author }}</td>
      <td>{{ document.publisher }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="nodata">No data to display</p>
{% endif %}
{% endblock %}
