{% extends "documents/consume.html" %}

{% block title %}{{ block.super }} - Document Details - {{ object.title }}{% endblock %}

{% block content %}
{% if object %}
<h2>Document Details</h2>
<table>

  <tr>
    <th>Title:</th>
    <td>{{ object.title }}</td>
  </tr>
  <tr>
    <th>Author:</th>
    <td>{{ object.author }}</td>
    
  </tr>
  <tr>
    <th>Publisher:</th>
    <td>{{ object.publisher }}</td>
  </tr>
</table>

<h2>View as PDF</h2>

<form action="{% url consume_pdf object.id %}" method="POST">
  <table>
    {{ lpform.as_table }}
    </table>
    <p><input type="submit" value="Download" /></p>
</form>

<h2>View as Braille</h2>

<form action="{% url consume_brl object.id %}" method="POST">
  <table>
    {{ bform.as_table }}
    </table>
    <p><input type="submit" value="Download" /></p>
</form>

<a href="{% url consume_index %}">Back</a>

{% else %}
<p class="nodata">No data to display</p>
{% endif %}
{% endblock %}
