{% extends "base.html" %}

{% block title %}{{ block.super }} - Listing documents{% endblock %}
{% block subtitle %}{{ block.super }} - Listing documents{% endblock %}

{% block content %}

{% if document_list %}
  <table>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Publisher</th>
    </tr>

    {% for document in document_list %}
      <tr>
        <td><a href="{% url consume_detail document.id %}">{{ document.title }}</a></td>
        <td>{{ document.author }}</td>
        <td>{{ document.publisher }}</td>
      </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No documents are available.</p>
{% endif %}
{% endblock %}
