{% extends "documents/manage.html" %}
{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Bulk import documents" %}{% endblock %}

{% block content %}
<h2>{% trans "Bulk import documents" %}</h2>

<form enctype="multipart/form-data" method="post" action="{% url upload_metadata_csv %}">{% csrf_token %}
  <p>{% include "documents/simpleForm.html" %}
    <input type="submit" value="{% trans 'Import' %}" />
    <a href="{% url manage_index %}">{% trans 'Cancel' %}</a>
  </p>
</form>

{% endblock %}
