{% extends "documents/manage.html" %}
{% load basename %}

{% block title %}{{ block.super }} - Manage Document Details - {{ document.title }}{% endblock %}

{% block content %}
{% if document %}
<h2>Managing document details</h2>

<div class="issue">
  
  <h3>{{ document.title }}</h3>
  <!-- <p class="author"> -->
  <!--   Added by <a href="">Christian Egli</a> 28 days ago. -->
  <!--   Updated 19 days ago. -->
  <!-- </p> -->
  
  <table width="100%">
    <tr>
      <td style="width:15%" class=""><b>Author:</b></td><td style="width:35%">{{ document.author }}</td>
      <td style="width:15%" class="status"><b>State:</b></td><td style="width:35%" class="status">{{ document.state }}</td>
    </tr>
    <tr>
      <td class=""><b>Publisher:</b></td><td class=" ">{{ document.publisher }}</td>

      {% if document.assigned_to %}
      <td class=""><b>Assigned to:</b></td><td class="">{{ document.assigned_to.get_full_name }}</td>
      {% endif %}
    </tr>
  </table>
  <hr />
  
  <div id="relations">
    <!-- <div class="contextual"> -->
    <!--   <a href="#" onclick="Element.toggle('new-version-form'); this.blur(); return false;">Add</a> -->
    <!-- </div> -->
    
    <p><strong>Versions</strong></p>
    <table style="width:100%">
      <!-- <tr> -->
      <!-- 	<th>Comment</th> -->
      <!-- 	<th>Created at</th> -->
      <!-- </tr> -->
      {% for version in document.version_set.all %}
      <tr>
	<td>{{ version.comment }}</td>
	<td>{{ version.created_at }}</td>
	<!-- <td> -->
	<!--   <a href="#" title="Delete relation"> -->
	<!--     <img alt="Delete" src="/images/delete.png" /> -->
	<!--   </a> -->
	<!-- </td> -->
      </tr>
      {% endfor %}
    </table>

    <form enctype="multipart/form-data" method="post" 
	  action="/manage/{{ document.id }}/addVersion">
	  <!-- id="new-version-form" style="display: none;"> -->
      <p>
	{% with versionForm as form %}
	{% include "documents/simpleForm.html" %}
	{% endwith %}
	<input type="submit" value="Add" /> 
	<!-- <a href="#" onclick="Element.toggle('new-version-form'); this.blur(); return false;">Cancel</a> -->
      </p>
    </form>
  </div>
  <hr />
  
  <div id="relations">
    <!-- <div class="contextual"> -->
    <!--   <a href="#" onclick="Element.toggle('new-attachment-form'); this.blur(); return false;">Add</a> -->
    <!-- </div> -->
    
    <p><strong>Attachments</strong></p>
    <table style="width:100%">
      <!-- <tr> -->
      <!-- 	<th>Name</th> -->
      <!-- 	<th>Comment</th> -->
      <!-- 	<th>Mime type</th> -->
      <!-- 	<th>Created at</th> -->
      <!-- </tr> -->
      {% for attachment in document.attachment_set.all %}
      <tr>
	<td><a href="{{ attachment.content.url }}">{{ attachment.content.name|basename }}</a></td>
	<td>{{ attachment.comment }}</td>
	<td>{{ attachment.mime_type }}</td>
	<td>{{ attachment.created_at }}</td>
	<!-- <td> -->
	<!--   <a href="#" title="Delete relation"> -->
	<!--     <img alt="Delete" src="/images/delete.png" /> -->
	<!--   </a> -->
	<!-- </td> -->
      </tr>
      {% endfor %}
    </table>
    <form enctype="multipart/form-data" method="post"
	  action="/manage/{{ document.id }}/addAttachment">
	  <!-- id="new-attachment-form" style="display: none;"> -->
      <p>
	{% with attachmentForm as form %}
	{% include "documents/simpleForm.html" %}
	{% endwith %}
	<input type="submit" value="Add" /> 
	<!-- <a href="#" onclick="Element.toggle('new-attachment-form'); this.blur(); return false;">Cancel</a> -->
      </p>
    </form>
  </div>
  <hr />

  <div id="relations">
    <p><strong>State</strong></p>
    <form method="post" action="/manage/{{ document.id }}/transition">
      <p>
	{% with documentForm as form %}
	{% include "documents/simpleForm.html" %}
	{% endwith %}
	<input type="submit" value="Transition" />
      </p>
    </form>
  </div>
</div>
{% else %}
<p class="nodata">No data to display</p>
{% endif %}
{% endblock %}
