{% extends "documents/manage.html" %}
{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Bulk import documents" %}{% endblock %}

{% block content %}

<script type="text/javascript" language="javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript">
  // toggle all checkboxes
  $(document).ready(function(){
    $('.toggleAllCheckboxes').click(function() {
      $('[type=checkbox]').each(function (i) {
        $(this).attr('checked', !this.checked);
      });
    });
  });
</script>

<h2>{% trans "Bulk import documents" %}</h2>
<form action="{% url import_metadata_csv %}" method="post">{% csrf_token %}
  {{ document_formset.management_form }}
  <table>
    {% for form in document_formset.forms %}
    {% if forloop.first %}
    <tr><th>{% trans 'Document' %}</th>
        <th class="toggleAllCheckboxes" title="{% trans 'Toggle All' %}">{% trans 'Ignore' %}</th></tr>
    {% endif %}
       <tr class="{% cycle 'odd' 'even' %}">
	 <td>
	   <table>
	     {% if form.errors %}
	     <tr>
	       <td colspan="4">
		 <div class="errorExplanation" id="errorExplanation">
		   <span>{{ form.errors|length }} error{{ form.errors|pluralize }}:</span>
		   {{ form.errors }}
		 </div>
	       </td>
	     </tr>
	     {% endif %}
	     <tr>
	       <th>{{ form.author.label_tag }}:</th>
	       <td>{{ form.author }}</td>
	       <th>{{ form.title.label_tag }}:</th>
	       <td>{{ form.title }}</td>
	     </tr>
	     <tr>
	       <th>{{ form.identifier.label_tag }}:</th>
	       <td>{{ form.identifier }}</td>
	       <th>{{ form.source.label_tag }}:</th>
	       <td>{{ form.source }}</td>
	     </tr>
	     <tr>
	       <th>{{ form.source_edition.label_tag }}:</th>
	       <td>{{ form.source_edition }}</td>
	       <th>{{ form.source_publisher.label_tag }}:</th>
	       <td>{{ form.source_publisher }}</td>
	     </tr>
	     <tr>
	       <th>{{ form.production_series.label_tag }}:</th>
	       <td>{{ form.production_series }}</td>
	       <th>{{ form.production_series_number.label_tag }}:</th>
	       <td>{{ form.production_series_number }}</td>
	     </tr>
	     <tr>
	       <th>{{ form.production_source.label_tag }}:</th>
	       <td>{{ form.production_source }}</td>
	       <th>{{ form.language.label_tag }}:</th>
	       <td>{{ form.language }}</td>
	     </tr>
	   </table>
	 </td>
	 <td>{{ form.DELETE }}</td>
       </tr>
    {% empty %}
    <p class="nodata">{% trans "CSV is empty or all records have already been imported" %}</p>
    {% endfor %}
  </table>
  <table style="display: none;">
    {{ product_formset }}
  </table>  
  <input type="submit" value="{% trans 'Import' %}" />
  <a href="{% url manage_index %}">{% trans 'Cancel' %}</a>
</form>

{% endblock %}
