{% extends "base.html" %}

{% block title %}{{ block.super }} - Manage Document Details - {{ document.title }}{% endblock %}
{% block subtitle %}{{ block.super }} - Manage Document Details{% endblock %}


{% block content %}
{% if document %}
<table>

  <tr>
    <th>Title:</th>
    <td>{{ document.title }}</td>
  </tr>
  <tr>
    <th>Author:</th>
    <td>{{ document.author }}</td>
  </tr>
  <tr>
    <th>Publisher:</th>
    <td>{{ document.publisher }}</td>
  </tr>
  <tr>
    <th>State:</th>
    <td>{{ document.state }}</td>
  </tr>
</table>

<h2>Versions</h2>
<table>
  {% for version in document.version_set.all %}
  <tr>
    <td>{{ version.created_at }}</td>
  </tr>
  {% endfor %}
</table>


<h2>Upload new version</h2>
<form enctype="multipart/form-data" method="post" 
      action="/manage/{{ document.id }}/">
  <table>
  {{ versionForm.as_table }}
  </table>
  <input type="submit" value="Add Version" /> 
</form>

{% else %}
    <p>No document available.</p>
{% endif %}
{% endblock %}
