{% extends "base.html" %}

{% block title %}{{ block.super }} - Managing documents{% endblock %}
{% block subtitle %}{{ block.super }} - Managing documents{% endblock %}

{% block content %}
{% if document_list %}
  <table>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Publisher</th>
      <th>State</th>
      <th>Transition to</th>
    </tr>

    {% for document in document_list %}
      <tr>
        <td><a href="{% url manage_detail document.id %}">{{ document.title }}</a></td>
        <td>{{ document.author }}</td>
        <td>{{ document.publisher }}</td>
        <td>{{ document.state }}</td>
        <td>
          {% for nextState in document.nextValidStates %}
  	    <a href="{% url manage_transition document.id nextState %}">{{ nextState }}</a>
          {% endfor %}
  	    </td>
      </tr>
    {% endfor %}
  </table>
{% else %}
    <p>No documents are available.</p>
{% endif %}
{% endblock %}
