{% extends "documents/manage.html" %}

{% block title %}{{ block.super }} - Managing documents{% endblock %}

{% block content %}
<h2>Manage documents</h2>
{% if object_list %}
<table class="list">
  <thead>
    <tr>
      <th>{{ fields.title.label }}</th>
      <th>{{ fields.author.label }}</th>
      <th>{{ fields.sourcePublisher.label }}</th>
      <th>{{ fields.state.label }}</th>
      <th>{{ fields.assigned_to.label }}</th>
      <th>{{ fields.created_at.label }}</th>
      <th>{{ fields.modified_at.label }}</th>
    </tr>
  </thead>

  <tbody>
    {% for document in object_list %}
    <tr class="{% cycle 'even' 'odd' %}">
      <td><a href="{% url manage_detail document.id %}">{{ document.title }}</a></td>
      <td>{{ document.author }}</td>
      <td>{{ document.sourcePublisher }}</td>
      <td>{{ document.state }}</td>
      <td>{{ document.assigned_to }}</td>
      <td>{{ document.created_at }}</td>
      <td>{{ document.modified_at }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="nodata">No data to display</p>
{% endif %}
{% endblock %}
