{% extends "documents/todo.html" %}
{% load i18n %}
{% load basename %}
{% load verbose_name %}

{% block title %}{{ block.super }} - {% trans "Document Markup" %} - {{ document.title }}{% endblock %}

{% block content %}
{% if document %}

<h2>{% trans "Document Markup" %}</h2>

<div class="issue">
  
  <h3>{{ document.title }}</h3>

  {% include "documents/documentDetails.html" %}

  <div id="relations">
    <form method="post" action="{% url todo_markup  document.id %}">
      <p>
	{% if form.errors %}
	<div class="errorExplanation" id="errorExplanation">
	  <span>{{ form.errors|length }} error{{ form.errors|pluralize }}:</span>
	  {{ form.errors }}
	</div>
	{% endif %}
	{{ form.data }}
	{{ form.comment.label_tag }}: {{ form.comment }}
      </p>
      <p>
	<input type="submit" value="{% trans 'Save' %}" />
	<input type="submit" value="{% trans 'Preview' %}" />
	<a href="{% url todo_detail  document.id %}">{% trans 'Cancel' %}</a>
      </p>
    </form>
  </div>
</div>
{% else %}
<p class="nodata">{% trans "No data to display" %}</p>
{% endif %}
{% endblock %}
