{% extends "documents/todo.html" %}
{% load i18n %}
{% load basename %}
{% load verbose_name %}

{% block title %}{{ block.super }} - {% trans "Document Details" %} - {{ document.title }}{% endblock %}

{% block sidebar %}
{% if document %}
<div id="sidebar">
  <h3>{% trans "Edit" %}</h3>
  <!-- <a href="{% url todo_ocr document.id %}" accesskey="o" >{% trans "OCR" %}</a><br /> -->
  <a href="{% url todo_markup document.id %}">{% trans "Markup" %}</a><br />
  <h3>{% trans "Words" %}</h3>
  <h4>{% trans "Grade 1" %}</h4>
  <a href="{% url dictionary_check_g1 document.id %}">{% trans "Unknown words" %}</a><br />
  <a href="{% url dictionary_local_g1 document.id %}" accesskey="v">{% trans "Local words" %}</a><br />
  <h4>{% trans "Grade 2" %}</h4>
  <a href="{% url dictionary_check_g2 document.id %}">{% trans "Unknown words" %}</a><br />
  <a href="{% url dictionary_local_g2 document.id %}" accesskey="k">{% trans "Local words" %}</a><br />
  <h3>{% trans "Preview" %}</h3>
  <a href="{% url todo_xhtml document.id %}" accesskey="x" >{% trans "XHTML" %}</a><br />
  <a href="{% url todo_sbsform document.id %}" accesskey="b" >{% trans "Braille (SBSForm)" %}</a><br />
  <a href="{% url todo_library_pdf document.id %}">{% trans "Large Print (Library)" %}</a><br />
  <a href="{% url todo_sale_pdf document.id %}">{% trans "Large Print (Sale)" %}</a><br />
  <a href="{% url todo_pdf document.id %}">{% trans "Configurable Large Print" %}</a><br />
  <h3>{% trans "Preview (BETA)" %}</h3>
  <a href="{% url todo_rtf document.id %}">{% trans "RTF" %}</a><br />
  <a href="{% url todo_epub document.id %}">{% trans "EPUB" %}</a><br />
  <a href="{% url todo_text_only_fileset document.id %}">{% trans "Daisy 2.02 Text-Only fileset" %}</a><br />
  <a href="{% url todo_dtb document.id %}">{% trans "Full-Text Full-Audio book" %}</a><br />
</div>
{% endif %}
{% endblock %}

{% block content %}
{% if document %}

<h2>{% trans "Document Details" %}</h2>

<div class="issue">
  
  <h3>{{ document.title }}</h3>
  
  {% include "documents/documentDetails.html" %}

  <div id="relations">
    
    <p><strong>{% trans "Versions" %}</strong></p>
    <table style="width:100%">
      {% for version in document.version_set.all|slice:":7" %}
      <tr>
	<td><a href="{{ version.content.url }}">{{ version.comment }}</a></td>
	<td>{{ version.created_by.get_full_name }}</td>
	<td>{{ version.created_at|date }}</td>
      </tr>
      {% endfor %}
    </table>

    <form enctype="multipart/form-data" method="post" 
	  action="{% url todo_add_version document.id %}">{% csrf_token %}
      <p>
	{% with versionForm as form %}
	{% include "documents/simpleForm.html" %}
	{% endwith %}
	<input type="submit" value="{% trans 'Add' %}" /> 
      </p>
    </form>
  </div>
  <hr />
  
  <div id="relations">
    
    <p><strong>{% trans "Attachments" %}</strong></p>
    <table style="width:100%">
      {% for attachment in document.attachment_set.all %}
      <tr>
	<td><a href="{{ attachment.content.url }}">{{ attachment.content.name|basename }}</a></td>
	<td>{{ attachment.comment }}</td>
	<td>{{ attachment.mime_type }}</td>
	<td>{{ attachment.created_by.get_full_name }}</td>
	<td>{{ attachment.created_at|date }}</td>
      </tr>
      {% endfor %}
    </table>
    <form enctype="multipart/form-data" method="post"
	  action="{% url todo_add_attachment document.id %}">{% csrf_token %}
      <p>
	{% with attachmentForm as form %}
	{% include "documents/simpleForm.html" %}
	{% endwith %}
	<input type="submit" value="{% trans 'Add' %}" /> 
      </p>
    </form>
  </div>
  <hr />

  <div id="relations">
    <p><strong>{% trans "State" %}</strong></p>
    <form method="post" action="{% url todo_transition  document.id %}">{% csrf_token %}
      <p>
	{% with documentForm as form %}
	{% include "documents/simpleForm.html" %}
	{% endwith %}
	<input type="submit" value="{% trans 'Transition' %}" />
      </p>
    </form>
  </div>
</div>
{% else %}
<p class="nodata">{% trans "No data to display" %}</p>
{% endif %}
{% endblock %}
