{% extends "documents/todo.html" %}
{% load i18n %}
{% load verbose_name %}

{% block sidebar %}
<div id="sidebar">
  {% if perms.dictionary.add_word %}
  <h3>{% trans "Braille Dictionary" %}</h3>
  <h4>{% trans "Grade 1" %}</h4>
  <a href="{% url dictionary_confirm_g1 %}">{% trans "Confirm unknown words" %}</a><br />
  <a href="{% url dictionary_single_confirm_g1 %}" accesskey="v">{% trans "Confirm single words" %}</a><br />
  <h4>{% trans "Grade 2" %}</h4>
  <a href="{% url dictionary_confirm_g2 %}">{% trans "Confirm unknown words" %}</a><br />
  <a href="{% url dictionary_single_confirm_g2 %}" accesskey="k">{% trans "Confirm single words" %}</a><br />
  {% endif %}
</div>
{% endblock %}

{% block title %}{{ block.super }} - {% trans "Pending documents" %}{% endblock %}

{% block content %}

<script type="text/javascript" language="javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" language="javascript" src="/javascripts/jquery.dataTables.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#documents').dataTable( {
      "bPaginate": false
    });
  });
</script>

<h2>{% trans "Pending documents" %}</h2>
{% if object_list %}
<table class="list" id="documents">
  <thead>
    <tr>
      <th>{{ object_list|first|verbose_name:"title" }}</th>
      <th>{{ object_list|first|verbose_name:"author" }}</th>
      <th>{{ object_list|first|verbose_name:"source_publisher" }}</th>
      <th>{{ object_list|first|verbose_name:"state" }}</th>
    </tr>
  </thead>

  <tbody>
    {% for document in object_list %}
    <tr class="{% cycle 'even' 'odd' %}">
      <td><a href="{% url todo_detail document.id %}">{{ document.title }}</a></td>
      <td>{{ document.author }}</td>
      <td>{{ document.source_publisher }}</td>
      <td>{{ document.state }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="nodata">{% trans "No data to display" %}</p>
{% endif %}
{% endblock %}
