*.pyc
*~
.coverage
/ID
/INSTALL.html
/README.html
/aclocal.m4
/archive
/autom4te.cache
/config.log
/config.status
/configure
/daisyproducer-*.tar.gz
/development.db
/install-sh
/media
/missing
/py-compile
/settings_local.py
/xml2brl.temp
Makefile
Makefile.in
TAGS
django.mo
