{% extends "documents/todo.html" %}
{% load i18n %}

{% block sidebar %}
<div id="sidebar">
    <h3>{% trans "Braille Dictionary" %}</h3>
    <a href="{% url dictionary_lookup_global_words %}" target="_blank" class="popup">
        {% trans "Lookup global words" %}
    </a>
    <br/>
</div>
{% endblock %}

{% block content %}

<h2>
  {% if deferred %} {% blocktrans %} Confirm Deferred Words for Grade {{grade}} {% endblocktrans %}
  {% else %}        {% blocktrans %} Confirm Unknown Words for Grade {{grade}}  {% endblocktrans %}
  {% endif %}
</h2>

<div class="issue">
  
  <table>
    <tr>
      <td>
        <b>
          {% if deferred %} {% trans  'Total deferred words' %}:
          {% else %}        {% trans  'Total unconfirmed words' %}:
          {% endif %}
        </b>
      </td>
      <td>{{paginator.count}}</td>
    </tr>
  </table>
  {% include "dictionary/pagination.html" %}
  <hr />

  <div id="relations">
    <form method="post" action="">{% csrf_token %}
      {{ formset.management_form }}
      <table>
	{% for form in formset.forms %}
	{% if forloop.first %}
	<tr>
	  {% for field in form %}
	    {% if field.name == 'type' and have_type%}
	      <th>{{ field.label }}</th>
	    {% else %}{% if field.name == 'homograph_disambiguation' and have_homograph_disambiguation %}
	      <th>{{ field.label }}</th>
	    {% else %}{% if field.is_hidden %}
	      <th></th>
	    {% else %}
	      <th>{{ field.label }}</th>
	    {% endif %}{% endif %}{% endif %}
	  {% endfor %}
	</tr>
	{% endif %}
	<tr class="{% cycle 'odd' 'even' %}">
	  {% for field in form %}
	  <td>{{ field }}</td>
	  {% endfor %}
	  
	  {% if form.errors %}
	  <td>
	    <div class="errorExplanation" id="errorExplanation">
	      <span>{{ form.errors|length }} error{{ form.errors|pluralize }}:</span>
	      {{ form.errors }}
	    </div>
	  </td>
	  {% endif %}
	</tr>
	{% empty %}
	<p>{% trans 'No more words to confirm' %}</p>
	{% endfor %}
      </table>
      {% if paginator == None or paginator.count > 0 %}
      <input type="submit" value="{% trans 'Submit' %}" />
      {% endif %}
      <a href="{% url todo_index %}">{% trans 'Cancel' %}</a>
    </form>
  </div>
</div>
{% endblock %}
