{% extends "documents/todo.html" %}
{% load i18n %}

{% block sidebar %}
{% endblock %}

{% block content %}

<h2>
  {% if deferred %} {% blocktrans %} Confirm Deferred Words for Grade {{grade}} {% endblocktrans %}
  {% else %}        {% blocktrans %} Confirm Unknown Words for Grade {{grade}}  {% endblocktrans %}
  {% endif %}
</h2>

<div class="issue">
  
  <div id="relations">
    <form method="post" action="">{% csrf_token %}
      <table>
	{{ form.as_table }}
      </table>
      <input type="submit" value="{% trans 'Confirm' %}" />
      <a href="{% url todo_index %}">{% trans 'Cancel' %}</a>
    </form>
  </div>
</div>
{% endblock %}
