{% extends "documents/todo.html" %}
{% load i18n %}

{% block sidebar %}
{% endblock %}

{% block content %}

<script type="text/javascript" language="javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript">
  // toggle all checkboxes
  $(document).ready(function(){
    $('.toggleAllCheckboxes').click(function() {
      $('input[type=checkbox][name$="isConfirmed"]').each(function (i) {
        $(this).attr('checked', !this.checked);
      });
    });
  // set all confirmed checkboxes to true
  $('input[type=checkbox][name$="isConfirmed"]').each(function (i) { $(this).attr('checked', true); });
  
  });
</script>

<h2>{% trans "Confirm Unknown Words" %}</h2>

<div class="issue">
  
    <table>
    <tr>
      <td><b>Total unconfirmed words:</b></td><td>{{formset.total_form_count}}</td>
    </tr>
  </table>
  <hr />

  <div id="relations">
    <form method="post" action="">{% csrf_token %}
      {{ formset.management_form }}
      <table>
	{% for form in formset.forms %}
	{% if forloop.first %}
	<tr>
	  {% for field in form %}
	  {% if field.is_hidden %}
          <th></th>
	  {% else %}
	    {% if field.name == 'isConfirmed' %}
            <th class="toggleAllCheckboxes" title="{% trans 'Toggle All' %}">{{ field.label }}</th>
	    {% else %}
            <th>{{ field.label }}</th>
	    {% endif %}
	  {% endif %}
	  {% endfor %}
	</tr>
	{% endif %}
	<tr class="{% cycle 'odd' 'even' %}">
	  {% for field in form %}
	  <td>{{ field }}</td>
	  {% endfor %}
	  {% if form.errors %}
	  <td>
	    <div class="errorExplanation" id="errorExplanation">
	      <span>{{ form.errors|length }} error{{ form.errors|pluralize }}:</span>
	      {{ form.errors }}
	    </div>
	  </td>
	  {% endif %}
	</tr>
	{% endfor %}
      </table>
      <input type="submit" value="{% trans 'Submit' %}" />
      <a href="{% url todo_index %}">{% trans 'Cancel' %}</a>
    </form>
  </div>
</div>
{% endblock %}
