{% load i18n %}

{% if paginator.num_pages > 1 %}
{% if words %}
<hr />
<p class="pagination">
  {% if words.has_previous %}
  <a href="?{% if currentFilter %}filter={{ currentFilter }}&{% endif %}page={{ words.previous_page_number }}">{% trans 'previous' %}</a>
  {% endif %}
  
  {% trans 'Page' %} {{ words.number }} {% trans 'of' %} {{ words.paginator.num_pages }}
  
  {% if words.has_next %}
  <a href="?{% if currentFilter %}filter={{ currentFilter }}&{% endif %}page={{ words.next_page_number }}">{% trans 'next' %}</a>
  {% endif %}
</p>
{% endif %}
{% endif %}