{% extends "documents/todo.html" %}
{% load i18n %}

{% block sidebar %}
{% endblock %}

{% block content %}
<script type="text/javascript" language="javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript">
  // toggle all checkboxes
  $(document).ready(function(){
    $('.toggleAllCheckboxes').click(function() {
      $('input[type=checkbox][name$="DELETE"]').each(function (i) {
        $(this).attr('checked', !this.checked);
      });
    });
  });
</script>

<h2>{% blocktrans %}Check Unknown Words for Grade {{grade}}{% endblocktrans %}</h2>

<div class="issue">
  
  <h3>{{ document.title }}</h3>
  
  {% include "documents/documentDetails.html" %}

    <table>
    <tr>
      <td><b>{% trans 'Total unknown words' %}:</b></td>
      <td>{{stats.total_new}} {% trans 'of' %} {{stats.total_words}} ({{stats.percent|floatformat}}%)</td>
    </tr>
  </table>
  {% include "dictionary/pagination.html" %}
  <hr />

  <div id="relations">
    <form method="post" action="">{% csrf_token %}
      {{ formset.management_form }}
      <table>
	{% for form in formset.forms %}
	{% if forloop.first %}
	<tr>
	  {% for field in form %}
	    {% if field.name == 'type' and have_type%}
	      <th>{{ field.label }}</th>
	    {% else %}{% if field.name == 'homograph_disambiguation' and have_homograph_disambiguation %}
	      <th>{{ field.label }}</th>
	    {% else %}{% if field.is_hidden %}
	      <th></th>
	    {% else %}{% if field.name == 'DELETE' %}
	      <th class="toggleAllCheckboxes" title="{% trans 'Toggle All' %}">{% trans 'Ignore' %}</th>
	    {% else %}
	      <th>{{ field.label }}</th>
	    {% endif %}{% endif %}{% endif %}{% endif %}
	  {% endfor %}
	</tr>
	{% endif %}
	<tr class="{% cycle 'odd' 'even' %}">
	  {% for field in form %}
	  <td>{{ field }}</td>
	  {% endfor %}
	  {% if form.errors %}
	  <td>
	    <div class="errorExplanation" id="errorExplanation">
	      <span>{{ form.errors|length }} error{{ form.errors|pluralize }}:</span>
	      {{ form.errors }}
	    </div>
	  </td>
	  {% endif %}
	</tr>
	{% empty %}
	<p>{% trans 'No more words to check' %}</p>
	{% endfor %}
      </table>
      {% if pagpaginator == None or paginator.count > 0 %}
      <input type="submit" value="{% trans 'Submit' %}" />
      {% endif %}
      <a href="{% url todo_detail  document.id %}">{% trans 'Cancel' %}</a>
    </form>
  </div>
</div>
{% endblock %}
