<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>{% block title %}Daisy Producer{% endblock %}</title>
  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css" />
  <script src="/javascripts/prototype.js" type="text/javascript"></script>
</head>
<body>
  <div id="top-menu">
    {% if request.user.is_authenticated %}
    <div id="account">
      <ul>
	<li><a href="/admin/logout/" class="logout">Sign out</a></li>
      </ul>    
    </div>
    <div id="loggedas">Logged in as {{ request.user.username }}</div>
    {% else %}
    <div id="account">
      <ul><li><a href="/accounts/login/" class="login">Sign in</a></li></ul>
    </div>
    {% endif %}
    <ul>
      <li><a href="/admin" class="administration">Administration</a></li>
      <li><a href="" class="help">Help</a></li>
    </ul>
  </div>

  <div id="header">
    <div id="quick-search">
      <form action="/search/index/pendenzen" method="get">
        <a href="/search/index/pendenzen" accesskey="4">Search</a>:
        <input accesskey="f" class="small" id="q" name="q" size="20" type="text" />
      </form>
    </div>
    
    <h1>{% block subtitle %}Daisy Producer{% endblock %}</h1>

    <div id="main-menu">
      <ul>
	<li><a href="/manage/"{% block tab-pending %}{% endblock %}>Pending</a></li>
	<li><a href="/documents"{% block tab-finished %}{% endblock %}>Finished</a></li>
	<li><a href="/manage/create" accesskey="7"{% block tab-new %}{% endblock %}>New Document</a></li>
      </ul>
    </div>
  </div>
  
  <div class="" id="main">
    {% block sidebar %}{% endblock %}
    
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </div>
  
</body>
</html>

