{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>{% block title %}Daisy Producer{% endblock %}</title>
  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css" />
  <!-- <script src="/javascripts/prototype.js" type="text/javascript"></script> -->
</head>
<body>
  <div id="top-menu">
    {% if user.is_authenticated %}
    <div id="account">
      <ul>
	<li><a href="/admin/logout/" class="logout">{% trans "Sign out" %}</a></li>
      </ul>    
    </div>
    <div id="loggedas">{% blocktrans with user.username as username %}Logged in as {{ username }}{% endblocktrans %}</div>
    {% else %}
    <div id="account">
      <ul><li><a href="/accounts/login/" class="login">{% trans "Sign in" %}</a></li></ul>
    </div>
    {% endif %}
    <ul>
      {% if user.is_staff %}
      <li><a href="/admin" class="administration">{% trans "Administration" %}</a></li>
      {% endif %}
      <li><a href="{% url help %}" class="help">{% trans "Help" %}</a></li>
      <li><a href="{% url about %}" class="about">{% trans "About" %}</a></li>
    </ul>
  </div>

  <div id="header">
    <!-- <div id="quick-search"> -->
    <!--   <form action="/search/index/pendenzen" method="get"> -->
    <!--     <a href="/search/index/pendenzen" accesskey="4">Search</a>: -->
    <!--     <input accesskey="f" class="small" id="q" name="q" size="20" type="text" /> -->
    <!--   </form> -->
    <!-- </div> -->
    
    <h1>{% block subtitle %}Daisy Producer{% endblock %}</h1>

    <div id="main-menu">
      <ul>
	{% if perms.documents %}
	<li><a href="{% url manage_index %}" accesskey="7"{% block tab-manage %}{% endblock %}>{% trans "Manage" %}</a></li>
	{% endif %}
	{% if user.is_authenticated %}
	<li><a href="{% url todo_index %}"{% block tab-todo %}{% endblock %}>{% trans "TODO" %}</a></li>
	{% else %}
	<li><a href="{% url browse_index %}"{% block tab-browse %}{% endblock %}>{% trans "Browse" %}</a></li>
	{% endif %}
      </ul>
    </div>
  </div>
  
  <div class="" id="main">
    {% block sidebar %}{% endblock %}
    
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </div>
  
  <div id="footer">
    {% trans "Powered by"
    %} <a href="http://www.daisyproducer.org/">Daisy Producer</a> © 2010, 2011 {% trans "Swiss Library for the Blind, Visually Impaired and Print Disabled" %}
  </div>
  
</body>
</html>

